// Colors
$primary-color: #2196F3;
$accent-color: #006fca;
$main-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #FFFFFF;
$bg-dark-color: #2F303A;
$bg-light-color: #F5F4FA;
$border-color: #ECECEC;
$icon-color: #afb1b8;

// Fonts
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;