
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #FFFFFF;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #ECECEC;
    padding: 24px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 26px;
    color: #000000;
    margin-right: 93px;
    pointer-events: none;
}

.logo{
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list a {
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}

.nav-list{
    color: #2196F3;
}

.link:hover{
    color: #2196F3;
}
.contact-list {
    display: flex;
    gap: 50px;
}

.contact-list a:hover {
    color: #006fca;
}

.contact-list a {
    color: #757575;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(47, 48, 58, 40)), url(images/Шапка.png);
    padding: 200px 0;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-button {
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    width: 216px;
    height: 50px;
}

.hero-button:hover {
    background-color: #006fca;
}

.section {
    padding: 94px 0;
}

.features-list {
    display: flex;
    gap: 30px;
}



.features-item h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-item p {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.section-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    gap: 30px;
}

.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;
}

.team-item h3 {
    font-size: 16px;
    margin: 30px 0 10px;
}

.team-content {
    margin-top: 30px;
}

.team-content img {
    padding: 8px;
    border-radius: 0%;
}

.team-content img:hover,
.team-content img:focus {
    background-color: #2196F3;
    fill: #ffffff;
    border-radius: 30%;
}

.team-item p {
    color: #757575;
}

.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer .logo {
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}

.footer a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

.work-item {
    position: relative;
}
.work-text {
    position: absolute;
    top: 210px;
    width: 370px;
    height: 70px;
    background-color: #2f303ac9;
    color: #FFFFFF;
    text-align: center;
    padding: 27px;
    font-weight: 700;
    font-size: 14px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.clients-item {
    width: 170px;
    height: 92px;
}

.clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.clients-logo {
    max-width: 106px;
    max-height: 60px;
}

.clients-link:hover,
.clients-link:focus {
    border-color: #2196F3;
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo,
.clients-link:active .clients-logo {
    filter: brightness(0) saturate(100%) invert(37%) sepia(85%) saturate(748%) hue-rotate(197deg) brightness(103%) contrast(101%);
}