.features {
  padding: 60px 0;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &-item {
    text-align: center;

    h3 {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 1.71;
      color: $secondary-text-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .features {
    padding: 94px 0;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .features-item {
    flex-basis: calc((100% - 30px) / 2);
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}